In [1]:
import pandas as pd
import numpy as np

In [6]:
url = "titanic/train.csv"
df = pd.read_csv(url)
include = ['Age', 'Sex', 'Embarked', 'Survived'] # Only four features
df_ = df[include]

In [7]:
df_.head()

    Age     Sex Embarked  Survived
0  22.0    male        S         0
1  38.0  female        C         1
2  26.0  female        S         1
3  35.0  female        S         1
4  35.0    male        S         0

In [8]:
categoricals = []
for col, col_type in df_.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)
     else:
          df_[col].fillna(0, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [9]:
df_.head()

    Age     Sex Embarked  Survived
0  22.0    male        S         0
1  38.0  female        C         1
2  26.0  female        S         1
3  35.0  female        S         1
4  35.0    male        S         0

In [10]:
df_ohe = pd.get_dummies(df_, columns=categoricals, dummy_na=True)

In [11]:
df_ohe.head()

,Age,Survived,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,0,0,1,0,0,0,1,0
1,38.0,1,1,0,0,1,0,0,0
2,26.0,1,1,0,0,0,0,1,0
3,35.0,1,1,0,0,0,0,1,0
4,35.0,0,0,1,0,0,0,1,0

In [12]:
from sklearn.linear_model import LogisticRegression
dependent_variable = 'Survived'
x = df_ohe[df_ohe.columns.difference([dependent_variable])]
y = df_ohe[dependent_variable]
lr = LogisticRegression()
lr.fit(x, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [13]:
urltest = "titanic/test.csv"
dftest = pd.read_csv(url)
include = ['Age', 'Sex', 'Embarked', 'Survived'] # Only four features
dftest_ = dftest[include]

In [30]:
categoricals = []
for col, col_type in dftest_.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)
     else:
          dftest_[col].fillna(0, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [31]:
dftestohe_=pd.get_dummies(dftest_, columns=categoricals, dummy_na=True)
dftestohe_.head()

,Age,Survived,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,0,0,1,0,0,0,1,0
1,38.0,1,1,0,0,1,0,0,0
2,26.0,1,1,0,0,0,0,1,0
3,35.0,1,1,0,0,0,0,1,0
4,35.0,0,0,1,0,0,0,1,0

In [41]:
dependent_variable = 'Survived'
xtest = dftestohe_[dftestohe_.columns.difference([dependent_variable])]
ytest = dftestohe_[dependent_variable]
xtest.head()
# ytest.head()

,Age,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan,Sex_female,Sex_male,Sex_nan
0,22.0,0,0,1,0,0,1,0
1,38.0,1,0,0,0,1,0,0
2,26.0,0,0,1,0,1,0,0
3,35.0,0,0,1,0,1,0,0
4,35.0,0,0,1,0,0,1,0

In [35]:
lr.score(xtest,ytest)

0.7867564534231201

In [47]:
prediction = lr.predict([[22,0,0,1,0,0,1,0]])
prediction

array([0], dtype=int64)